@font-face {
  font-family: "iviSans";
  src: url("@/shared/assets/fonts/iviSansBase-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iviSans";
  src: url("@/shared/assets/fonts/iviSansBase-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iviSans";
  src: url("@/shared/assets/fonts/iviSansBase-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
