.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: transparent;
}

.input {
  padding: 12px 15px;
  background-color: var(--bg-color-secondary);
  border: 1px solid #a5a1b2;
  color: #a5a1b2;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: linear-gradient(270deg, #ea003d, #c447ff);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &::placeholder {
    color: #6c757d;
  }
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.globalError {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 15px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  padding: 12px;
  background-color: #f30745;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #a70832;
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
}

.infoBlock {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 4px;
  padding: 12px 15px;
  margin-top: 10px;
}

.infoText {
  margin: 0;
  color: #0c5460;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
}
